* { box-sizing: border-box; }

body {
    font: 400 16px/1.4 var(--font-family__main);
}
/* ============================================== */
/* Buttons */
.button {
    margin: 10px 0;

    font: 700 14px var(--font-family__main);
    text-decoration: none;
    letter-spacing: 1px;

    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: var(--common-animation);
}

._primary {
    padding: 10px 15px;
    background-color: var(--color__action);
    color: var(--text-color__light);
    width: 100%;
    max-width: 300px;
}

._primary:hover {
    background-color: var(--background-action__hover);
}

._secondary {
    padding: 10px 15px;
    color: var(--background-button__hover);
    background-color: var(--text-color__light);
    width: 100%;
    max-width: 300px;
}

._secondary:hover {
    color: var(--text-color__light);
    background-color: var(--background-button__hover);
}
/* =================================================== */
/* Input */
input {
    width: 100%;
    max-width: 300px;
    padding: 10px 15px;

    border: 2px solid var(--color__action);
    border-radius: 50px;
    background-color: transparent;
    outline: 0;
}
/* =================================================== */
/* Icons */
.icon { position: relative; }
.icon:before { font-family: var(--font-family__icon);}

._search:before    { content: var(--icon-search); }
._menu:before    { content: var(--icon-menu); }
._checkmark:before    { content: var(--icon-checkmark); }
._arrow:before    { content: var(--icon-arrow); }

/* ==================================================== */
.box {
    max-width: var(--layout__width);
    margin: 0 auto;
    padding: 0 30px;
}
/* ========================================================= */
/* Links */
.icon:before {
    font-weight: 400;
    transition: var(--common-animation);
    cursor: pointer;
}

/* ======================================================== */
/* For background image */
._bg-wrapper {
    position: relative;
}

._bg-wrapper .image-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
