:root {
    --text-color__dark: #111;
    --text-color__light: #fff;

    --main-color__theme: #f0cf56;
    --color__action: #12c757;
    --color__hover: #9e9e9e7a;

    --background-button__hover: #478ac9;
    --background-action__hover: #10b34e;

    --image-apples: url('../css/img/apples.jpeg');
/* ========================================= */
/* Font */
    --font-family__title: 'Merriweather', serif;
    --font-family__main: 'Open Sans', sans-serif;
    --font-family__icon: 'Icon Font';

    --layout__width: 1140px;
/* ======================================== */

/* Icons */
    --icon-search: '\e900';
    --icon-menu: '\e901';
    --icon-checkmark: '\e902';
    --icon-arrow: '\e903';

/* ================================= */
    --common-animation: all ease .3s;
/* ==================================== */
}
