.healthy-evening {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.healthy-evening .title {
    font-size: 40px;
}

.healthy-evening .text {
    max-width: 300px;
    font-size: 16px;
}

/* For ice-cream */
.healthy-evening._ice-cream {
    grid-template-columns: 1fr;
}

.healthy-evening._ice-cream > .box {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.healthy-evening._ice-cream .box {
    grid-gap: 40px;
}

.healthy-evening._ice-cream .image span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.healthy-evening._ice-cream .image span:before {
    font-size: 290px;
}

.healthy-evening._ice-cream .image {
    justify-content: initial;
}

.healthy-evening._ice-cream img {
    width: 320px;
    height: 320px;
}
