.menu .navigation {   
    margin-bottom: 40px;
}

.menu .text {
    max-width: 660px;
    margin: 0 auto 20px;
    font-size: 20px;
}

.menu .title {
    margin-bottom: 20px;
}

.menu._bg-wrapper {
    display: flex;
    min-height: 500px;
}

.menu._bg-wrapper .actions-wrapper {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
}
