.learn-cooking {
    padding: 20px 0;
}

.learn-cooking .title {
    text-align: center;
}

.learn-cooking .text {
    max-width: 270px;
    margin: 0 auto 30px;
    font-size: 12px;
}

/* Arrow Icon =============================================*/
.learn-cooking ._arrow:before {
    display: inline-block;
    padding: 5px;

    font: 40px var(--font-family__icon);
    color: var(--text-color__light);

    background-color: var(--color__action);
    border-radius: 50%;
}

.learn-cooking .categories-wrapper ._arrow:first-child,
.learn-cooking .categories-wrapper ._arrow:last-child {
    position: absolute;
    z-index: 2;
    top: 42%;
    transform: translateY(50%);
}

.learn-cooking .categories-wrapper ._arrow:first-child {
    left: -15px;
}

.learn-cooking .categories-wrapper ._arrow:last-child:before {
    transform: rotate(180deg);
}

.learn-cooking .categories-wrapper ._arrow:last-child {
    right: -15px;
}

.categories-wrapper,
.learn-cooking a {
    position: relative;
}
/* ============================================================ */
/* Images */
.learn-cooking .categories {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    margin-bottom: 15px;
}

.learn-cooking img {
    height: 300px;

    border-radius: 50px;
    object-fit: cover;
}

.learn-cooking a:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-image: var(--hover-color);
    border-radius: 50px;
    opacity: 0;
}

.learn-cooking a:hover:before {
    opacity: 1;
    transition: var(--common-animation);
}
